@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

/* @media only screen and (max-device-width: 900px) {
    .menu { width:600px; }
}
*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
}
h2{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0B0E17;
}
/*----NAVBAR-----------------------------------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}
li {
    float: left;
    width: 280px;
    background-color: black;
}
li a {
    display: block;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: black;
    color: #FF1493;
}
a{
    scroll-behavior: smooth;
}
li a:hover:not(.active) {
    background-color: #0B0E17;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 19px 3px rgba(0,0,0,0);
}
/*----HEADER-----------------------------------------------------------------*/
.header{
    padding-top: 50px;
    padding-bottom: 10px;
}
.header div{
    display: flex;
    align-items: center;
    padding-left: 150px;
}
.header img{
    border-radius: 50%;
    text-align: left;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
.header h1{
    padding-left: 20px;
    font-size: 70px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px black;
    color: #00FF00;
}
/*----ABOUTME-----------------------------------------------------------------*/
.aboutme{
    padding-top: 30px;
}
.aboutme h1{
    text-align: center;
    padding-top: 25px;
    color: 	#9400D3;
    text-shadow: 2px 2px 5px black;
}
.aboutme h2{
    text-align: center;
    color: 	#FFFF00;
}
.aboutme h3{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.aboutme p{
    text-align: justify;
    line-height: 1.6;
}
.column {
    float: left;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column-aboutme {
    float: left;
    width: 50%;
}
.row-aboutme:after {
    content: "";
    display: table;
    clear: both;
}
.hobbies{
    text-align: center;
    padding-top: 5px;
}
.hobbies img{
    border-radius: 8px;
}
.padding-top-25px{
    padding-top: 25px;
}
.padding-top-30px{
    padding-top: 30px;
}
.padding-left-55px{
    padding-left: 55px;
}
.padding-top-13px{
    padding-top: 13px;
}
.padding-top-5px{
    padding-top: 5px;
}
.aboutme h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
}
/*----MYPROJECTS-----------------------------------------------------------------*/
.myprojects{
    padding-top: 30px;
    padding-bottom: 30px;
}
.myprojects h1{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #00FFFF;
    text-shadow: 2px 2px 5px black;
}
.myprojects p{
    text-align: justify;
    padding: 25px 30px 15px 30px;
    line-height: 1.6;
}
.coluna {
    float: left;
    width: 50%;
    text-align: center;
    padding-bottom: 25px;
}
.linha:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 10px;
}
.myprojects img{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.myprojects button {
    font-family: 'Poppins', sans-serif;
    color:#00FFFF;
    background-color: #000000;
    margin-top: 35px;
    font-size: 18px;
    width: 300px;
    height: 50px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
    font-weight: bold;
}

.myprojects button:hover{
    background-color: #0B0E17;
}
/*----CODETEXT-----------------------------------------------------------------*/
.codetext{
    text-align: center;
    padding-bottom: 20px;
}
/*----FOOTER-----------------------------------------------------------------*/
.footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    background-color: black;
    color: #FB038B;
    text-decoration: none;
    font-weight: bold;
}
.footer p{
    color: #FB038B;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}
.footer a {
    color: #FB038B;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}
.footer a:hover{
    text-decoration: underline;
}
    